extends base
block content 
    - source = source || '';
    - if (source === 'add_post')
        include includes/_add_post
    - else if (source === 'edit_post')
        include includes/_edit_post
    - else
        include includes/_view_all_posts

    
