footer(class='pt-28 pb-20 sticky bottom-0 z-[1] bg-dark text-white')
    div(class='mb-16 overflow-hidden')
        a(class='footer-cta block text-4xl md:text-5xl font-secondary font-medium mb-8' href='/contact')
            // Scrolling line 1
            div(class='animated-line animated-line-one mb-5')
                div(class='line-block')
                    span(class='mr-20 md:mr-24')
                        span(class='cta-text') Stay Updated
                        img(alt="arrow-right" loading="lazy" width="39" height="31" class="inline-block ml-10 md:ml-16 cta-icon" src="/images/arrow-right.svg")
                    span(class='mr-20 md:mr-24')
                        span(class='cta-text') Stay Updated
                        img(alt="arrow-right" loading="lazy" width="39" height="31" class="inline-block ml-10 md:ml-16 cta-icon" src="/images/arrow-right.svg")
                    span(class='mr-20 md:mr-24')
                        span(class='cta-text') Stay Updated
                        img(alt="arrow-right" loading="lazy" width="39" height="31" class="inline-block ml-10 md:ml-16 cta-icon" src="/images/arrow-right.svg")
                    span(class='mr-20 md:mr-24')
                        span(class='cta-text') Stay Updated
                        img(alt="arrow-right" loading="lazy" width="39" height="31" class="inline-block ml-10 md:ml-16 cta-icon" src="/images/arrow-right.svg")
                    span(class='mr-20 md:mr-24')
                        span(class='cta-text') Stay Updated
                        img(alt="arrow-right" loading="lazy" width="39" height="31" class="inline-block ml-10 md:ml-16 cta-icon" src="/images/arrow-right.svg")
                div(class='line-block-copy')
                    span(class='mr-20 md:mr-24')
                        span(class='cta-text') Stay Updated
                        img(alt="arrow-right" loading="lazy" width="39" height="31" class="inline-block ml-10 md:ml-16 cta-icon" src="/images/arrow-right.svg")
                    span(class='mr-20 md:mr-24')
                        span(class='cta-text') Stay Updated
                        img(alt="arrow-right" loading="lazy" width="39" height="31" class="inline-block ml-10 md:ml-16 cta-icon" src="/images/arrow-right.svg")
                    span(class='mr-20 md:mr-24')
                        span(class='cta-text') Stay Updated
                        img(alt="arrow-right" loading="lazy" width="39" height="31" class="inline-block ml-10 md:ml-16 cta-icon" src="/images/arrow-right.svg")
                    span(class='mr-20 md:mr-24')
                        span(class='cta-text') Stay Updated
                        img(alt="arrow-right" loading="lazy" width="39" height="31" class="inline-block ml-10 md:ml-16 cta-icon" src="/images/arrow-right.svg")
                    span(class='mr-20 md:mr-24')
                        span(class='cta-text') Stay Updated
                        img(alt="arrow-right" loading="lazy" width="39" height="31" class="inline-block ml-10 md:ml-16 cta-icon" src="/images/arrow-right.svg")
            // Scrolling line 2
            div(class='animated-line animated-line-two mb-5')
                div(class='line-block')
                    span(class='mr-20 md:mr-24')
                        span(class='cta-text') Stay Updated
                        img(alt="arrow-right" loading="lazy" width="39" height="31" class="inline-block ml-10 md:ml-16 cta-icon" src="/images/arrow-right.svg")
                    span(class='mr-20 md:mr-24')
                        span(class='cta-text') Stay Updated
                        img(alt="arrow-right" loading="lazy" width="39" height="31" class="inline-block ml-10 md:ml-16 cta-icon" src="/images/arrow-right.svg")
                    span(class='mr-20 md:mr-24')
                        span(class='cta-text') Stay Updated
                        img(alt="arrow-right" loading="lazy" width="39" height="31" class="inline-block ml-10 md:ml-16 cta-icon" src="/images/arrow-right.svg")
                    span(class='mr-20 md:mr-24')
                        span(class='cta-text') Stay Updated
                        img(alt="arrow-right" loading="lazy" width="39" height="31" class="inline-block ml-10 md:ml-16 cta-icon" src="/images/arrow-right.svg")
                    span(class='mr-20 md:mr-24')
                        span(class='cta-text') Stay Updated
                        img(alt="arrow-right" loading="lazy" width="39" height="31" class="inline-block ml-10 md:ml-16 cta-icon" src="/images/arrow-right.svg")
                div(class='line-block-copy')
                    span(class='mr-20 md:mr-24')
                        span(class='cta-text') Stay Updated
                        img(alt="arrow-right" loading="lazy" width="39" height="31" class="inline-block ml-10 md:ml-16 cta-icon" src="/images/arrow-right.svg")
                    span(class='mr-20 md:mr-24')
                        span(class='cta-text') Stay Updated
                        img(alt="arrow-right" loading="lazy" width="39" height="31" class="inline-block ml-10 md:ml-16 cta-icon" src="/images/arrow-right.svg")
                    span(class='mr-20 md:mr-24')
                        span(class='cta-text') Stay Updated
                        img(alt="arrow-right" loading="lazy" width="39" height="31" class="inline-block ml-10 md:ml-16 cta-icon" src="/images/arrow-right.svg")
                    span(class='mr-20 md:mr-24')
                        span(class='cta-text') Stay Updated
                        img(alt="arrow-right" loading="lazy" width="39" height="31" class="inline-block ml-10 md:ml-16 cta-icon" src="/images/arrow-right.svg")
                    span(class='mr-20 md:mr-24')
                        span(class='cta-text') Stay Updated
                        img(alt="arrow-right" loading="lazy" width="39" height="31" class="inline-block ml-10 md:ml-16 cta-icon" src="/images/arrow-right.svg")
    div(class='container')
        div(class='row flex flex-wrap')
            div(class='md:w-2/4 text-center md:text-left mb-4')
                //Social Links
                ul(class='inline-flex gap-x-2 ml-5 lg:ml-auto items-center')
                    li
                        a(href='' class='transition-all duration-100 bg-primary hover:bg-primary-light text-xs inline-block text-center w-8 h-8 leading-8 text-white rounded')
                            i(class='fa-brands fa-facebook')
                    li
                        a(href='' class='transition-all duration-100 bg-primary hover:bg-primary-light text-xs inline-block text-center w-8 h-8 leading-8 text-white rounded')
                            i(class='fa-brands fa-twitter')
                    li
                        a(href='' class='transition-all duration-100 bg-primary hover:bg-primary-light text-xs inline-block text-center w-8 h-8 leading-8 text-white rounded')
                            i(class='fa-brands fa-instagram')
                    li
                        a(href='' class='transition-all duration-100 bg-primary hover:bg-primary-light text-xs inline-block text-center w-8 h-8 leading-8 text-white rounded')
                            i(class='fa-brands fa-pinterest')
            div(class='md:w-2/4 text-center md:text-right mb-4')
                //Footer Menu
                ul(class='inline-flex flex-wrap justify-center md:justify-end gap-x-6')
                    li(class='inline-block hover:opacity-75 transition-op duration-300')
                        a(href='/' class='link') Home
                    li(class='inline-block hover:opacity-75 transition-op duration-300')
                        a(href='/about' class='link') About
                    li(class='inline-block hover:opacity-75 transition-op duration-300')
                        a(href='/privacy-policy' class='link') Privacy policy
            div(class='md:w-2/4 text-center md:text-left mb-4 md:mb-0')
                //Copyright
                p(class='text-white/75') &copy; 2024 WaveHub. All rights reserved.
            div(class='md:w-2/4 text-center md:text-right')
                div(class='content mb-4 lg:mb-0')
                    h3(class='text-left font-semibold text-white mb-5 pb-5 border-b border-b-slate-200') Subscribe
                    div(class='subscriber-form-group mb-3')
                        p(class='text-xs leading-6 text-white text-left')    
                            |Want to be notified when we launch a new article?
                            |Just sign up and we'll send you a notification by email.

                        form(class='mt-5')
                            div(class='flex gap-x-2')
                                input( 
                                    type="email" 
                                    name='email' 
                                    placeholder='Enter your Email'
                                    class='h-12 px-5 bg- bg-gray-800 transition-all duration-300 focus:outline-0 border border-transparent focus:border-primary text-white w-9/12 rounded')

                                button(class='transition-all duration-100 hover:bg-primary-light bg-primary rounded cursor-pointer text-white h-12 w-1/4') Submit

