div(class="categories mt-8 lg:mt-0 mb-5 lg:mb-0 rounded border border-slate-100 bg-slate-100 overflow-hidden")
    ul(class="flex flex-wrap main_category_list")
        li
            a(href='/' class='cat_links inline-block py-2 px-3 font-semibold uppercase transition-all duration-100 hover:bg-primary-light hover:text-white text-[10px] bg-primary text-white')
                |All