extends baseEmail

block content
  strong Hi #{firstName},

  p Welcome to our blog! 🎉

  p We’re thrilled to have you join our community of readers who love poetry, 
  | academic research, fiction, and trending gists. Whether you're here to find inspiration,
  | stay informed, or get lost in captivating stories, you’re in the right place.

  p Here’s what you can expect:  
  ul
    li Poetry that speaks to the soul  
    li In-depth academic research and insights  
    li Fictional tales to ignite your imagination  
    li The latest trending topics and discussions  

  p We can’t wait to share our content with you and hope you enjoy every moment spent reading.



  p If you ever have any thoughts to share or topics you'd love us to cover, feel free to reach out!

  p Happy reading,
  strong - Godwin Inyene, Blog Founder
