extends base
block content 
  //Banner Start
  section(class='banner bg-white text-white')
    div(class='pt-20 pb-24 page-banner bg-dark rounded-b-2xl relative z-10')
      div(class='container')
        div(class='flex items-end flex-col lg:flex-row')
          div(class='w-full sm:w-2/3 px-3 text-center sm:text-left')
            h1(class='text-[2.5rem] leading-[3rem] sm:leading-9 md:text-5xl font-secondary font-medium -mt-[6px] text-center sm:text-left mb-6 sm:mb-8')
              |Wave Hub Privacy Policy
            nav(aria-label='breadcrumb')
              ul(class='flex items-center justify-center sm:justify-start [&>*:last-child]:pointer-events-none')
                li(class='')
                  i(class='fa fa-home')
                li(class='pl-2')
                  a(class='link' href='/') Home
                li(class='')
                  span(class='px-4') .
                li(class='pl-2')
                  a(class='link' href='/privacy-policy') Privacy Policy
          div(class='w-full sm:w-1/3 block mt-6 sm:mt-0 text-center sm:text-right')
            span(class='font-secondary text-2xl leading-none text-white/75') Our Privacy Policy

  section(class='w-full relative z-10 overflow-hidden py-16 rounded-b-2xl bg-white')
    div(class="container max-w-[1140px] w-11/12 mx-auto z-[2] relative")
      div(class='row -mx-4 clear-both table')
        div(class='w-full lg:w-3/4 relative px-3')

          div(class="section-title mb-10 pb-5 border-b border-b-slate-300 relative before:absolute before:-bottom-[1px] before:left-0 before:w-20 before:h-[1px] before:bg-primary")
            h2(class="font-bold text-2xl text-dark") Wave Hub
            h4(class="text-sm font-semibold mt-1 text-slate-500") Privacy Policy

          div(class="about-wrap") 
            h2.font-semibold.text-3xl.mb-3 Privacy Policy for Wave Hub
            p(class="font-medium mb-6 text-slate-700")
              |At Wave Hub, safeguarding the privacy of our visitors is a top priority.
              |This Privacy Policy outlines the types of information we collect and record,
              |as well as how we use it.
            
            p(class="font-medium mb-6 text-slate-700")
              |If you have any questions or need further clarification regarding
              |our Privacy Policy, please feel free to reach out to us.
            
            p(class="font-medium mb-6 text-slate-700")
             |This Privacy Policy applies solely to our online activities and pertains
             |to information shared or collected by visitors on our website.
             |It does not cover data collected offline or through other channels beyond this website.


            h2.font-semibold.text-3xl.mb-3 Consent
            p(class="font-medium mb-6 text-slate-700")
              |By using our website, you hereby consent to our Privacy Policy and agree to its terms.
            
            h2.font-semibold.text-3xl.mb-3 Information we collect
            p(class="font-medium mb-6 text-slate-700")
              |The personal information that you are asked to provide, and the reasons
              |why you are asked to provide it, will be made clear to you
              |at the point we ask you to provide your personal information.

            p(class="font-medium mb-6 text-slate-700")
              |If you contact us directly, we may receive additional information
              |about you such as your name, email address, phone number,
              |the contents of the message and/or attachments you may send us,
              |and any other information you may choose to provide.
            
            h2.font-semibold.text-3xl.mb-3 How we use your information
            p(class="font-medium mb-6 text-slate-700")
              |We use the information we collect in various ways, including to:
            
            ul(class='mt-5 list-disc lg:pl-8')
              li Improve, personalize, and expand our website
              li Understand and analyze how you use our website
              li Send you emails
              li Find and prevent fraud
              li Provide, operate, and maintain our website
              li Develop new features, and functionality